.baner {
	background-color:  #7575a3;
	color: white;
	height: 81px;
	text-align: center;
	border-top: 0.8px solid #7575a3;
}

html, body {
	background-color: #b3b3cc;
	margin: 0px;
	padding: 0px;
}

.lewy {
	height: 85%;
	width: 15%;
	margin-left: 10px;
	text-align: center;
	float: left;
}

.prawy {
	margin-left: 20%;
	height: 85%;
}

table, tr, td {
	border: 3px solid #d9d9d9;
	border-collapse: collapse;
	background-color: white;
}

#naglowek {
	text-align: center;
	color: green;
	border: 3px solid green;
	background-color: #B3FFB3;
}

.td_naglowek {
	text-align: center;
	color: green;
	border: 3px solid green;
	background-color: #B3FFB3;
}

.stopka {
	height: 24px;
	width: 100%;
	background: #7575a3;
	padding-top: 9px;
	position: absolute;
	bottom: 0px;
	text-align: right;
	color: white;
}

p.login {
	font-size: 13px;
	font-style: italic;
}

p.main {
	font-size: 17px;
	font-style: italic;
	font-weight: bold;
}
