.baner {
	background-color:  #7575a3;
	color: white;
	height: 81px;
	text-align: center;
	border-top: 0.8px solid #7575a3;
}

.naglowek {
	border: 3px solid green;
}

.lewy {
	text-align: center;
}

table, tr, td {
	border: 3px solid #d9d9d9;
	border-collapse: collapse;
	background-color: white;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}

html, body {
	background-color: #b3b3cc;
	margin: 0px;
	padding: 0px;
}

.prawy {

}

p.formularz, form{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.td_naglowek {
	text-align: center;
	color: green;
	border: 3px solid green;
	background-color: #B3FFB3;
}

.stopka {
	height: 24px;
	width: 100%;
	background: #7575a3;
	position: fixed;
	bottom: 0px;
	padding-top: 9px;
	text-align: right;
	color: white;
}
